USE [master]
GO
/****** Objeto: Database [BD_VehiculosSOAP] Fecha de script: 1/9/2026 20:47:36 ******/
CREATE DATABASE [BD_VehiculosSOAP]

USE [BD_VehiculosSOAP]
GO
/****** Objeto: Table [dbo].[Categoria] Fecha de script: 1/9/2026 20:47:37 ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Mantenimiento] Fecha de script: 1/9/2026 20:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimiento](
	[IdMantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[Kilometraje] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdVehiculo] [int] NOT NULL,
 CONSTRAINT [PK_Mantenimiento] PRIMARY KEY CLUSTERED 
(
	[IdMantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Vehiculo] Fecha de script: 1/9/2026 20:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](20) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Anio] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Sedán', N'Vehículos familiares de cuatro puertas', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'SUV', N'Vehículos deportivos utilitarios', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Camioneta', N'Vehículos para carga y transporte', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Mantenimiento] ON 

INSERT [dbo].[Mantenimiento] ([IdMantenimiento], [Fecha], [Tipo], [Descripcion], [Costo], [Kilometraje], [Estado], [IdVehiculo]) VALUES (1, CAST(N'2026-08-05' AS Date), N'Cambio de aceite', N'Cambio de aceite del motor', CAST(55.00 AS Decimal(10, 2)), 10500, 1, 1)
INSERT [dbo].[Mantenimiento] ([IdMantenimiento], [Fecha], [Tipo], [Descripcion], [Costo], [Kilometraje], [Estado], [IdVehiculo]) VALUES (2, CAST(N'2026-08-07' AS Date), N'Frenos', N'Cambio de pastillas de freno', CAST(120.00 AS Decimal(10, 2)), 13200, 1, 2)
INSERT [dbo].[Mantenimiento] ([IdMantenimiento], [Fecha], [Tipo], [Descripcion], [Costo], [Kilometraje], [Estado], [IdVehiculo]) VALUES (3, CAST(N'2026-08-10' AS Date), N'Llantas', N'Cambio de una llanta delantera', CAST(160.00 AS Decimal(10, 2)), 18750, 1, 3)
SET IDENTITY_INSERT [dbo].[Mantenimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (1, N'ABC-1234', N'Toyota', N'Corolla', 2023, CAST(22000.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (2, N'DEF-5678', N'Chevrolet', N'Tracker', 2024, CAST(28000.00 AS Decimal(10, 2)), 1, 2)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (3, N'GHI-9012', N'Ford', N'Ranger', 2023, CAST(35000.00 AS Decimal(10, 2)), 1, 3)
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Vehiculo__8310F99D0FE56773] Fecha de script: 1/9/2026 20:47:37 ******/
ALTER TABLE [dbo].[Vehiculo] ADD UNIQUE NONCLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Mantenimiento] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Vehiculo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Mantenimiento]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimiento_Vehiculo] FOREIGN KEY([IdVehiculo])
REFERENCES [dbo].[Vehiculo] ([IdVehiculo])
GO
ALTER TABLE [dbo].[Mantenimiento] CHECK CONSTRAINT [FK_Mantenimiento_Vehiculo]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_Vehiculo_Categoria]
GO
USE [master]
GO
